:root {
    --blue: rgb(26, 57, 87);
    --white: rgb(236,236,246);
}

body {
    background: var(--background-color);
    color: var(--text-color);
    font-weight: var(--font-weight);
}

body.light {
    --background-color: var(--white);
    --text-color: var(--blue);
    --font-weight: 400;
}

body.light {
    --background-color: var(--blue);
    --text-color: var(--white);
    --font-weight: 500;
}